:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

a {
  font-weight: 400;
  &:hover {
    font-weight: 700;
    transition: 0.2s;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}